Proto/.idea/workspace.xml

frmk/.idea/.name
frmk/.idea/compiler.xml
frmk/.idea/copyright/profiles_settings.xml
frmk/.idea/encodings.xml
frmk/.idea/misc.xml
frmk/.idea/modules.xml
frmk/.idea/scopes/scope_settings.xml
frmk/.idea/vcs.xml
frmk/.idea/workspace.xml
frmk/frmk.iml
Proto/bd/0100.eap
frmk/config/init.php
frmk/config/init.php
